.title {
    padding: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}

.ingridientsCards {
    display: flex;
    gap: 40px;
    flex-direction: column;
    max-height: calc(100vh - 400px);
    overflow-y: scroll;
    max-width: 600px;
}

.ingridientsCards::-webkit-scrollbar {
    width: 8px;
}

.ingridientsCards::-webkit-scrollbar-track {
    background: #2F2F37;
}

.ingridientsCards::-webkit-scrollbar-thumb {
    background: #8585AD;
    border: 3px solid #8585AD;
}

.burgerIngredients {
    display: flex;
    flex-direction: column;
}

.ingridientCategory {
    display: flex;
    flex-direction: column;
    gap: 4px;

}

.ingridientCategoryName {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    padding: 0;
    margin-top: 0;
}

.ingridientCard {
    width: 274px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.count {
    position: absolute;
    top: 0;
    right: 0;
}

.ingridientPoto {
    width: 240px;
    height: 120px;
    margin-bottom: 4px;
}

.ingridientCost {
    display: flex;
    align-items: center;
    align-content: center;
    margin-bottom: 4px;
    gap: 9px;
}

.ingridientName {
    text-align: center;
}

.fl {
    display: flex;
}

.flC {
    display: flex;
    flex-direction: column;
}

.flR {
    display: flex;
    flex-direction: row;
}

.flRW {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}