.header {
    max-width: 1920px;
    background-color: #1C1C21;
    margin: 40px auto;
    display: flex;
    justify-content: center;
}

.menu {
    width: 100%;
    max-width: 1240px;
    box-sizing: border-box;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.purple {
    color: #8585AD;
}