.detailContainer {
    width: 640px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: start;
    width: 100%;
}

.image {
    height: 240px;
    width: 480px;
    margin-bottom: 16px;
}

.name {
    margin-bottom: 32px;
}

.values {
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: #8585AD;
    margin-bottom: 60px;
    text-align: center;
}

.value {
    display: flex;
    flex-direction: column;
    gap: 8px;
}