.burgerConstructor {
    width: 600px;
    height: 912px;
}

.ingridients {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: calc(100vh - 400px);
    overflow-y: auto;
    max-width: 600px;
    padding: 0 16px;
}

.ingridients::-webkit-scrollbar {
    width: 8px;
}

.ingridients::-webkit-scrollbar-track {
    background: #2F2F37;
}

.ingridients::-webkit-scrollbar-thumb {
    background: #8585AD;
    border: 3px solid #8585AD;
}

.orderContainer {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;
}

.totalPrice {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    font-size: 48px;
    line-height: 36px;
}